@import 'fonts';
@import 'vars';

html {
    box-sizing: border-box;
    background-color: #e5e5e5;
    max-width: 1440px;
    margin: 0 auto;
}

*, *::after, *::before {
    box-sizing: inherit;
}

h1, h2, h3, p, ul {
    margin: 0;
}

body {
    min-width: 375px;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;    
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.wrapper {
    padding: 0 15px;
}

@media (min-width: 1200px) {
    .wrapper {
        padding: 0 70px;
    }
}

@media (min-width: 1440px) {
    .wrapper {
        padding: 0 150px;
    }
}


/* Header
===========*/

.header {
    padding-top: 50px;
    background-image: linear-gradient(180deg, $light-blue 0%, $blue 51.04%, $light-blue 100%);
}

@media (min-width: 1440px) {
    .header {
        padding-top: 25px;
    }
}

.header__inner {
    position: relative;
}

.header__logo {    
    text-align: center;    
    margin-bottom: 25px;
}

.header__pic {
    display: block;
}

@media (min-width: 1440px) {
    .header__pic {
        display: none;
    }
}

.header__pic-desctop {
    display: none;
}

@media (min-width: 1440px) {
    .header__pic-desctop {
        display: block;
    }
}

.header__menu {
    position: absolute;
    top: 0;
    display: block;
}

@media (min-width: 1440px) {
    .header__menu {
        display: none;
    }
}

.header__button {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header__line {
    display: block;
    width: 26px;
    height: 2px;
    background-color: $dark-blue;
    position: relative;
}

.header__line::after {
    content: '';
    display: block;
    width: 26px;
    height: 2px;
    background-color: $dark-blue;
    position: absolute;
    top: -6px;
}

.header__line::before {
    content: '';
    display: block;
    width: 26px;
    height: 2px;
    background-color: $dark-blue;
    position: absolute;
    top: 6px;
}

.header__block {
    display: none;
}

@media (min-width: 1440px) {
    .header__block {
        display: block;
        width: 100%;
        position: absolute;
        top: 5px;
    }
}

.header__block--open {
    display: block;
}

.header__info {
    display: block;
}

@media (min-width: 460px) {
    .header__info {
        display: flex;
        justify-content: space-between;
    }
}

.header__phone {
    margin-bottom: 5px;
}

@media (min-width: 460px) {
    .header__phone {
        margin-bottom: 0;
    }
}

.header__text {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: $sapphire;
    margin-bottom: 5px;
}

.header__phone-link {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: $orange;
    text-decoration: none;
}

.header__time-working {
    text-align: left;
}

@media (min-width: 460px) {
    .header__time-working {
        text-align: right;
    }
}

.header__text-time {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: $orange;
}

.header__clearfix {
    width: 100%;
    height: 1px;
    background-color: #ddecff;
    opacity: 0;
}

@media (min-width: 1440px) {
    .header__clearfix {
        height: 37px;
    }
}


/* Nav
===========*/

.nav {
    margin-top: 35px;
    margin-bottom: 20px;
}

.nav__list {
    padding-left: 0;
    list-style: none;
    display: block;
}

@media (min-width: 970px) {
    .nav__list {
        display: flex;
        justify-content: space-between;
    }
}

.nav__item {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 7px;
}

.nav__link {
    text-decoration: none;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    color: $grey;
    display: block;
}

.nav__item:hover .nav__link,
.nav__item--active .nav__link {
    display: inline;
    padding-bottom: 5px;
    border-bottom: 2px solid $dark-blue;
    color: $dark-blue;
}
