@import 'fonts';
@import 'vars';

html {
    box-sizing: border-box;
    background-color: $gainsborough;
    max-width: 1440px;
    margin: 0 auto;
}

*, *::after, *::before {
    box-sizing: inherit;
}

h1, h2, h3, p, ul, dl {
    margin: 0;
}

body {
    min-width: 375px;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    color: $sapphire;
    background-image: linear-gradient(180deg, $light-blue 0%, $blue 51.04%, $light-blue 100%);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.wrapper {
    padding: 0 15px;
}

@media (min-width: 768px) {
    .wrapper {
        padding: 0 70px;
    }
}

@media (min-width: 1440px) {
    .wrapper {
        padding: 0 150px;
    }
}

.title {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
    font-style: normal;
    color: $dark-blue;
    text-align: center;
}

@media (min-width: 1440px) {
    .title {
        font-size: 38px;
        line-height: 47px;
    }
}


/* Header
===========*/

.header {
    padding-top: 50px;    
}

@media (min-width: 1440px) {
    .header {
        padding-top: 25px;
    }
}

.header__inner {
    position: relative;
}

.header__logo {    
    text-align: center;    
    margin-bottom: 25px;
}

.header__pic {
    display: block;
}

@media (min-width: 1440px) {
    .header__pic {
        display: none;
    }
}

.header__pic-desctop {
    display: none;
}

@media (min-width: 1440px) {
    .header__pic-desctop {
        display: block;
    }
}

.header__menu {
    position: absolute;
    top: 0;
    display: block;
}

@media (min-width: 1440px) {
    .header__menu {
        display: none;
    }
}

.header__button {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header__line {
    display: block;
    width: 26px;
    height: 2px;
    background-color: $dark-blue;
    position: relative;
}

.header__line::after {
    content: '';
    display: block;
    width: 26px;
    height: 2px;
    background-color: $dark-blue;
    position: absolute;
    top: -6px;
}

.header__line::before {
    content: '';
    display: block;
    width: 26px;
    height: 2px;
    background-color: $dark-blue;
    position: absolute;
    top: 6px;
}

.header__block {
    display: none;
}

@media (min-width: 1440px) {
    .header__block {
        display: block;
        width: 100%;
        position: absolute;
        top: 5px;
    }
}

.header__block--open {
    display: block;
}

.header__info {
    display: block;
}

@media (min-width: 460px) {
    .header__info {
        display: flex;
        justify-content: space-between;
    }
}

.header__phone {
    margin-bottom: 5px;
}

@media (min-width: 460px) {
    .header__phone {
        margin-bottom: 0;
    }
}

.header__text {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: $sapphire;
    margin-bottom: 5px;
}

.header__phone-link {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: $orange;
    text-decoration: none;
}

.header__time-working {
    text-align: left;
}

@media (min-width: 460px) {
    .header__time-working {
        text-align: right;
    }
}

.header__text-time {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: $orange;
}

.header__clearfix {
    width: 100%;
    height: 1px;
    background-color: #ddecff;
    opacity: 0;
}

@media (min-width: 1440px) {
    .header__clearfix {
        height: 37px;
    }
}


/* Nav
===========*/

.nav {
    margin-top: 35px;
    margin-bottom: 20px;
}

.nav__list {
    padding-left: 0;
    list-style: none;
    display: block;
}

@media (min-width: 970px) {
    .nav__list {
        display: flex;
        justify-content: space-between;
    }
}

.nav__item {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 7px;
}

.nav__link {
    text-decoration: none;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    color: $grey;
    display: block;
}

.nav__item:hover .nav__link,
.nav__item--active .nav__link {
    display: inline;
    padding-bottom: 5px;
    border-bottom: 2px solid $dark-blue;
    color: $dark-blue;
}


/* Info
==========*/

.info {
    background-image:
        linear-gradient(90deg, $white44 -3.25%, $white-green72 -3.23%, $lavender72 -3.22%, $heavenly47 -3.21%, $brilliant-blue67 37.08%, $navy-blue85 100%),
        url(../images/info-bg-mobil.jpg);
    min-height: 517px;
    background-color: $brilliant-blue;
    background-repeat: repeat-x;
    color: $white;
    position: relative;
}

@media (min-width: 460px) {
    .info {
        background-image:
        linear-gradient(90deg, $white44 -3.25%, $white-green72 -3.23%, $lavender72 -3.22%, $heavenly47 -3.21%, $brilliant-blue67 37.08%, $navy-blue85 100%),
        url(../images/info-bg.jpg);
        background-position: top center;
    }
}

@media (min-width: 1440px) {
    .info {
        min-height: 635px;
    }
}

.info__inner {
    padding-top: 95px;
    position: relative;
}

@media (min-width: 768px) {
    .info__inner {
        display: grid;
        grid-template-columns: 1fr max-content;
    }
}

@media (min-width: 1440px) {
    .info__inner {
        padding-top: 30px;
    }
}

.info__list {
    display: none;
}

@media (min-width: 1440px) {
    .info__list {
        list-style: none;
        padding-left: 0;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 103px;
    }
}

.info__link {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: $white;
    text-decoration: none;
    margin-right: 10px;
}

.info__title {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 30px;
    line-height: 37px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
    color: $white;
}

@media(min-width: 1440px) {
    .info__title {
        font-size: 48px;
        line-height: 59px;
        margin-bottom: 5px;
    }    
}

.info__text {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 45px;
    color: $light-grey;
}

@media (min-width: 1440px) {
    .info__text {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 30px;
    }
}

.info__break {
    display: none;
}

@media (min-width: 460px) {
    .info__break {
        display: block;
    }
}

.info__button {
    display: block;
    margin: 0 auto;
    padding: 15px 86px;
    background-color: $dark-blue;
    border: none;
    border-radius: 10px;
    color: $white;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

@media (min-width: 460px) {
    .info__button {
        margin: 0;
    }
}

@media (min-width: 1440px) {
    .info__button {
        padding: 16px 48px;
        font-size: 20px;
        line-height: 24px;
    }
}

.info__pic {
    padding-top: 25px;
    border-radius: 10px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

@media (min-width: 768px) {
    .info__pic {
        padding-top: 0;
        position: static;
        transform: none;
        z-index: 1;
    }
}

@media(min-width: 1440px) {
    .info__pic {
        padding-top: 35px;
    }
}

.info__pic-wrapper::before {
    content: '';
    display: block;
    width: 190px;
    height: 260px;
    background-color: $dark-blue;
    border-radius: 10px;
    position: absolute;
    right: -25px;
    bottom: -25px;
    z-index: -1;
}

@media (min-width: 1440px) {
    .info__pic-wrapper::before {
        width: 320px;
        height: 440px;
        border-radius: 15px;
    }
}


/* Directions
==========*/

.directions__inner {
    padding-top: 285px;
    padding-bottom: 25px;
}

@media (min-width: 460px) {
    .directions__inner {
        padding-top: 220px;
    }
}

@media (min-width: 768px) {
    .directions__inner {
        padding-top: 50px;
    }
}

.directions__title {
    margin-bottom: 25px;
}

@media (min-width: 1440px) {
    .directions__title {
        margin-bottom: 38px;
    }
}

.directions__list {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    -moz-scrollbars-none: scroll;
    overflow-x: scroll;
    scroll-snap-type: x;
}

@media (min-width: 768px) {
    .directions__list {
        display: flex;
        justify-content: space-between;
        -moz-scrollbars-none: hidden;
        overflow-x: hidden;
        scroll-snap-type: none;
    }
}

@media (min-width: 1440px) {
    .directions__list {
        padding-bottom: 81px;
    }
}

.directions__item {
    width: 200px;
    min-height: 280px;
    overflow: hidden;
    border-radius: 10px;
    background-color: $white;
    box-shadow: 0px 2px 8px $black14;
}

@media (min-width: 1024px) {
    .directions__item {
        width: 275px;
    }
}

@media (min-width: 1440px) {
    .directions__item {
        width: 350px;
        min-height: 345px;
    }
}

.directions__image {
    display: flex;
    justify-content: center;
}

.directions__text {
    padding: 18px 9px 35px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    color: $dark-blue;
    text-align: center;
}

@media (min-width: 1440px) {
    .directions__text {
        font-size: 22px;
        line-height: 27px;
    }
}

.directions__pic {
    display: none;
}

@media (min-width: 1440px) {
    .directions__pic {
        display: block;
    }
}


/* Price
==========*/

.price {
    padding-bottom: 35px;
}

@media (min-width: 1440px) {
    .price {
        padding-bottom: 90px;
    }
}

.price__inner {
    padding-top: 0;
}

@media (min-width: 1440px) {
    .price__inner {
        padding-top: 91px;
    }
}

.price__title {
    margin-bottom: 25px;
}

@media (min-width: 1440px) {
    .price__title {
        margin-bottom: 50px;
    }
}

.price__list {
    padding-left: 0;
    list-style: none;
}

@media (min-width: 1024px) {
    .price__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }
}

@media (min-width: 1440px) {
    .price__list {
        column-gap: 30px;
    }
}

.price__item {
    background-color: $light-blue;
    border-radius: 35px;
    padding: 25px 13px 28px;
    text-align: center;
    margin-bottom: 25px;
    box-shadow: 0px 1px 8px $black13;
}

.price__item--color {
    background-color: $sapphire;
}

.price__title-item {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    font-style: normal;
    color: $dark-blue;
    margin-bottom: 7px;
}

.price__title-item--color {
    color: $white;
}

.price__text {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    font-style: normal;
    color: $orange;
    margin-bottom: 15px;
}

.price__pic {
    border-radius: 20px;
    width: 220px;
    height: 220px;
    overflow: hidden;
    margin: 0 auto 20px;
}

.price__button {
    margin-top: 6px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    padding: 17px 60px;
    background-color: transparent;
    border: 1px solid $dark-blue;
    border-radius: 10px;
    color: $dark-blue;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .price__button {
        padding: 17px 30px;
    }    
}

@media (min-width: 1024px) {
    .price__button {
        padding: 17px 30px;
    }    
}

@media (min-width: 1440px) {
    .price__button {
        padding: 17px 60px;
    }    
}

.price__button--color {
    color: $white;
    border-color: $white;
    background-color: $orange;
}


/* Service
==========*/

.service__list {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: $dark-blue;
    list-style: none;
    padding-left: 0;
}

.service__list--color {
    color: $white;
}

.service__item {
    margin-bottom: 20px;
}


/* Advantage
==========*/

.advantage {
    background-image:        
        linear-gradient(90deg, $dark-blue65 0%, $black-sea71 32%, $blue-craiola86 100%),
        url(../images/advantage.jpg);
    color: $white;
    min-height: 527px;
}

@media (min-width: 768px) {
    .advantage {
        min-height: 365px;
    }
}

.advantage__inner {
    padding-top: 30px;
    padding-bottom: 20px;
}

@media (min-width: 1440px) {
    .advantage__inner {
        padding-bottom: 62px;
    }
}

.advantage__title {
    margin-bottom: 24px;
    color: $white;
}

@media (min-width: 1440px) {
    .advantage__title {
        margin-bottom: 55px;
    }    
}

.advantage__list {
    padding-left: 0;
    list-style: none;
}

@media (min-width: 768px) {
    .advantage__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
    }
}

@media (min-width: 1024px) {
    .advantage__list {
        column-gap: 100px;
    }
}

@media (min-width: 1440px) {
    .advantage__list {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 70px;
    }    
}

.advantage__item {    
    padding-left: 55px;
    margin-bottom: 30px;
    min-height: 40px;
    background-size: 40px 40px;
    background-position: left;
    background-repeat: no-repeat;
}

@media (min-width: 1440px) {
    .advantage__item {
        padding-left: 80px;
        background-size: 50px 50px;
        background-position: left top;
    }
}

.advantage__item--icon-1 {
    background-image: url(../images/free-icon-1.svg);    
}

.advantage__item--icon-2 {
    background-image: url(../images/free-icon-2.svg);    
}

.advantage__item--icon-3 {
    background-image: url(../images/free-icon-3.svg);    
}

.advantage__item--icon-4 {
    background-image: url(../images/free-icon-4.svg);    
}

.advantage__item--icon-5 {
    background-image: url(../images/free-icon-5.svg);    
}

.advantage__item--icon-6 {
    background-image: url(../images/free-icon-6.svg);    
}

.advantage__title-item {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    font-style: normal;
    padding-top: 5px;
}

@media (min-width:1440px) {
    .advantage__title-item {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 5px;
    }
}

.advantage__title-item--fonts {
    font-size: 21px;
    line-height: 25px;
}

@media (min-width: 1440px) {
    .advantage__title-item--fonts {
        font-size: 28px;
        line-height: 34px;
        position: relative;
        top: -10px;
        margin-bottom: 0;
    }
}

.advantage__text {
    display: none;
}

@media (min-width: 1440px) {
    .advantage__text {
        display: block;
        font-family: 'Gilroy', 'Arial', sans-serif;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        font-style: normal;
    }
}


/* Problem
===========*/

.problem {
    padding-top: 35px;
    padding-bottom: 30px;
}

@media (min-width: 1440px) {
    .problem {
        padding-top: 55px;
        padding-bottom: 70px;
    }
}

.problem__title {
    margin-bottom: 20px;
}

@media (min-width: 1440px) {
    .problem__title {
        margin-bottom: 50px;
    }
}

.problem__content {
    display: block;
}

@media (min-width: 768px) {
    .problem__content {
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 10px;
    }
}

@media (min-width: 1024px) {
    .problem__content {
        column-gap: 30px;
    }
}

.problem__info {
    margin-bottom: 20px;    
}

@media (min-width: 768px) {
    .problem__info {
        margin-bottom: 0;
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

.problem__slider {
    grid-column: 1/2;
    grid-row: 1/2;
}

@media (min-width: 1024px) {
    .problem__slider {
        grid-row: 1/3;
    }
}

.problem__result {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .problem__result {
        grid-column: 1/3;
        grid-row: 2/3;
    }
}

@media (min-width: 1024px) {
    .problem__result {
        grid-column: 2/3;
    }
}

@media (min-width: 1440px) {
    .problem__result {
        margin-top: 75px;
    }
}

.problem__term {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
    color: $sapphire;
}

@media (min-width: 1440px) {
    .problem__term {
        font-size: 24px;
        line-height: 29px;
    }
}

.problem__term-color {
    font-weight: 600;
    color: $dark-blue;
}

.problem__definition {
    margin-left: 0;
}

.problem__list {
    padding-left: 0;
    list-style: none;
}

.problem__item {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: $sapphire;
    margin-bottom: 5px;
}

.problem__color {
    color: $dark-blue;
}

.problem__result-title {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 15px;
    color: $dark-blue;
}

.problem__text {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    color: $sapphire;
}


/* Slider
==========*/

.slider {
    width: 345px;
    height: 229px;
    background-color: $silver;
    border-radius: 10px;
    position: relative;
}

@media (min-width: 1440px) {
    .slider {
        width: 600px;
        height: 400px;
        border-radius: 20px;
    }
}    

.slider__input {
    display: none;
}

.slider__container {
    width: 100%;
    height: 229px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
}

@media (min-width: 1440px) {
    .slider__container {
        height: 400px;
        border-radius: 20px;
    }
}

.slider__input:checked + .slider__container {
    opacity: 1;
}

.slider__photo {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
}

.slider__background {
    width: 100%;
    height: 100%;
    background-color: $sapphire26;
    position: absolute;
    top: 0;
}

.slider__number {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    font-style: normal;
    color: $white;
    position: absolute;
    top: 15px;
    left: 20px;
}

@media (min-width: 1440px) {
    .slider__number {
        font-size: 36px;
        line-height: 44px;
        top: 33px;
        left: 45px;
    }
}

.slider__text {
    position: absolute;
    left: 20px;
    bottom: 15px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    color: $white
}

@media (min-width: 1440px) {
    .slider__text {
        left: 46px;
        bottom: 43px;
        font-size: 18px;
    }
}

.slider__name {
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

@media (min-width: 1440px) {
    .slider__name {
        line-height: 22px;
    }
}

.slider__city {
    line-height: 19px;
    font-weight: 400;
}

@media (min-width: 1440px) {
    .slider__city {
        line-height: 22px;
    }
}

.slider__next {
    width: 25px;
    height: 25px;
    background-image: url(../images/vector.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 20px;
    bottom: 21px;
    cursor: pointer;
    z-index: 0;
}

@media (min-width: 1440px) {
    .slider__next {
        right: 45px;
        bottom: 45px;
    }
}

.slider__input:checked + .slider__container .slider__nav .slider__next {
    z-index: 3;
}

.slider__dots {
    display: none;
}

@media (min-width: 1440px) {
    .slider__dots {
        display: block;
        width: 100%;
        height: 10px;
        position: absolute;
        bottom: -30px;
        text-align: center;
    }
}

.slider__dot {
    width: 10px;
    height: 10px;
    background-color: $silver;
    display: inline-block;
    border-radius: 100%;
    margin: 0 4px;
    position: relative;
    top: -5px;
    cursor: pointer;
}

.slider__dot:hover {
    background-color: $dark-blue;
}


/* Message
==========*/

.message {
    padding-bottom: 25px;
}

@media (min-width: 1440px) {
    .message {
        padding-bottom: 100px;
    }
}

.message__inner {
    background-color: $white;
    border-radius: 20px;
    padding: 25px 15px 34px;
    box-shadow: 0px 1px 6px $black20;
}

@media (min-width: 1024px) {
    .message__inner {
        padding: 30px 30px 34px;
    }
}

@media (min-width: 1440px) {
    .message__inner {
        padding: 30px 65px 43px;
    }
}

.message__title {
    margin-bottom: 15px;
}

@media (min-width: 1024px) {
    .message__title {
        margin-bottom: 40px;
    }
}

.message__content {
    display: block;
}

@media (min-width: 768px) {
    .message__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
}

@media (min-width: 1024px) {
    .message__content {
        grid-template-columns: 8fr 4fr;
    }
}

.message__info {
    padding-top: 0;
}

@media (min-width: 1440px) {
    .message__info {
        padding-top: 10px;
    }
}

.message__text {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: $sapphire;
    margin-bottom: 10px;
}

@media (min-width: 1440px) {
    .message__text {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 5px;
    }
}

.message__question {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: $orange;
    margin-bottom: 22px;
}

@media (min-width: 1024px) {
    .message__question {
        margin-bottom: 45px;
    }
}

.message__list {
    padding-left: 0;
    list-style: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 10px;
}

@media (min-width: 1440px) {
    .message__list {
        font-size: 18px;
        line-height: 22px;
    }
}

.message__item {
    padding-left: 40px;
    min-height: 25px;
    margin-bottom: 20px;
    background-size: 25px 25px;
    background-position: left;
    background-repeat: no-repeat;
}

@media (min-width: 1440px) {
    .message__item {
        margin-bottom: 30px;
    }
}

.message__item--icon-1 {
    background-image: url(../images/phone-call.svg);
}

.message__item--icon-2 {
    background-image: url(../images/evaluation.svg);
}

.message__item--icon-3 {
    background-image: url(../images/headphones.svg);
}

.message__item--icon-4 {
    background-image: url(../images/bulb.svg);
}

.message__item--icon-5 {
    background-image: url(../images/puzzle-piece.svg);
}

.message__application {
    border: 1px solid $light-grey;
    border-radius: 15px;
    padding: 20px 30px 21px;
    text-align: center;
}

.message__title-form {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    font-style: normal;
    color: $dark-blue;
    align-items: center;
    margin-bottom: 20px;
}

.message__field {
    margin-bottom: 20px;
    text-align: left;
    position: relative;
}

.message__input {
    width: 100%;
    height: 40px;
    border: 1px solid $silver;
    border-radius: 5px;
}

.message__label {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    font-style: normal;
    color: #ef8711;
    background-color: #ffffff;
    padding-right: 4px;
    padding-left: 5px;
    position: absolute;
    top: -8px;
    left: 15px;
}

.message__btn {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: $white;
    padding: 12px 82px 11px;
    border: none;
    background-color: $dark-blue;
    border-radius: 10px;
    margin-top: 30px;
}

@media (min-width: 768px) {
    .message__btn {
        margin-top: 70px;
    }
}

@media (min-width: 1024px) {
    .message__btn {
        margin-top: 30px;
    }
}


/* Securities
==========*/

.securities {
    display: none;
}

@media (min-width: 1440px) {
    .securities {
        display: block;
        background-image: 
        linear-gradient(90deg, $dark-blue65 -3.21%, $black-sea71 32.84%, $blue-craiola86 100%),url(../images/securities-bg.jpg);
        width: 100%;
        min-height: 810px;
        padding-top: 50px;
        overflow: hidden;
    }
}

.securities__info {
    font-size: 34px;
    line-height: 42px;
    font-weight: 600;
    font-style: normal;
    color: $white;
    padding-bottom: 60px;
}

.securities__info-inner {
    display: flex;
    justify-content: space-around;
}

.securities__content {
    display: flex;
}

