$gainsborough: #e5e5e5;
$light-blue: #DDECFF;
$blue: #F7FAFF;
$dark-blue: #0297f1;
$dark-blue65: #0297f1a6;
$sapphire: #13284f;
$orange: #ef8711;
$grey: #85888f;
$white: #ffffff;
$white44: #ffffff70;
$light-grey: #e1e1e1;
$black14: #00000024;
$black13: #00000021;
$black-sea71: #20388bb5;
$blue-craiola86: #214ff2db;
$navy-blue85: #000514db;
$brilliant-blue: #5367ae;
$brilliant-blue67: #5367aeab;
$heavenly47: #82bbff78;
$lavender72: #f5f6fcb7;
$white-green72: #f7f8fcb7;
$silver: #c4c4c4;
$sapphire26: #13284f42;
